.header {
  @apply bg-white fixed w-full z-[10] shadow-badge py-1;
}

.mainlogos {
  @apply w-[80px];
}

.headerSeparate {
  @apply flex items-center justify-between;
}

.userIconSize {
  @apply mr-2 mt-1 text-other-Gray3;
}

.accountBtn {
  @apply flex flex-row items-center cursor-pointer;
}

.menuLink {
  @apply flex flex-row items-center w-full px-4 py-2;
}

.menuName {
  @apply text-normaltext text-primary-Color2 whitespace-normal;
}

.userSeparate {
  @apply flex flex-col gap-1;
}

.userName {
  @apply text-smalltext overflow-hidden whitespace-nowrap text-ellipsis;
  // max-w-[120px]
}

.userType {
  @apply text-extrasmalltext;
}

.rightSection {
  @apply flex flex-row gap-5 items-center;
}

.iconColor {
  @apply text-other-Gray3;
}

.quickAddIcons {
  @apply text-normaltext;
  min-width: 28px !important;
}

.logoDivide {
  @apply flex flex-row items-center gap-5;
}